<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HelloTrivit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>HelloTrivitWatch (Notification).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>HelloTrivitWatch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3D48730E1E748E0B00BD8E80</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3D4873221E748E0B00BD8E80</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3D48732D1E748E0C00BD8E80</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3D4873411E748E9D00BD8E80</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
